/* General Style */
* {
  font-family: Roboto;
}
body{
  min-height: 100vh;
  padding-bottom: 100px;
  position: relative;
}

header{
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.row{
  margin: 0;
}

.container-fluid{
  padding: 0;
}

.btn-primary{
  background-color: #F2A340;
  border: 2px solid #C28008;
}

.btn-primary:hover{
  background-color: #C28008;
  border-color: #C28008;
}

.msg{
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  width: 100%;
  margin-bottom: 0;
  text-align: center;
  padding: 10px;
}

/* navbar */

#navbar img{
  width: 40px;
}

#navbar{
  justify-content: space-between;
  background-color: #fff;
  padding: 5px 0;
}

#navbar a{
  font-size: 14px;
  color: #757575;
}

#navbar a:hover{
  color: #f2a340;
}

/* Search Container */

#search-container{
  background-image:url("../img/event-banner.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  padding: 50px;
  text-align: center;
}

#search-container form{
  width: 50%;
  margin: 0 auto;
}

#search-container h1{
  color: #fff;
  margin-bottom: 30px;
  font-weight: 900;
}

/* Events List */

#events-container{
  padding: 50px;
}

#events-container h2{
  margin-bottom: 10px;
}

#events-container .subtitle{
  color: #757575;
  margin-bottom: 30px;
}

#cards-container{
  display: flex;
}

#events-container .card{
  flex: 1 1 24%;
  max-width: 25%;
  border-radius: 10px;
  padding: 0;
  margin: .5px;
}

#events-container img{
  max-height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card .card-date{
  font-size: 12px;
  color: #CCC;
}

.card .card-title{
  color: #212121;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.card-participants{
  font-size: 14px;
  color: #757575;
}

/* Event Page Show*/

#image-container, #info-container{
  margin-top: 30px;
}

#image-container img{
  border-radius: 10px;
}

#info-container h1{
  font-size: 36px;
  font-weight: 900;
}

#info-container p{
  margin: 0;
  font-size: 14px;
  display: flex;
}

#info-container h3, 
#description-container h3{
  font-size: 20px;
  font-weight: bold;
}

#info-container ion-icon{
  font-size: 20px;
  color: #F2A340;
  margin-right: 5px;
}

#info-container, 
#event-submit{
  margin-top: 20px;
}

#items-list{
  list-style: none;
  padding-left: 0;
}

#items-list li{
  display: flex;
}

#description-container{
  margin-top: 30px;
}

#info-container .already-joined-msg{
  margin: 15px 0;
  color: #004085;
  background-color: #CCE5FF;
  border: 1px solid #B8DAFF;
  padding: 10px;
  width: 275px;
}


/* Dashboard*/

.dashboard-title-container{
  margin-bottom: 30px;
  margin-top: 30px;
}

.dashboard-events-container th{
  width: 25%;
}

.dashboard-events-container form{
  display: inline-block;
}

/* Edit page */
.img-preview{
  width: 160px;
  margin: 20px 0px;
}
/* Footer */



footer{
  text-align: center;
  background-color: #20B9B1;
  color: #fff;
  padding: 30px;
  position: absolute;
  bottom: 0;
  width: 100%;

}

footer p{
  margin-bottom: 0;
}